body {
    margin: 0;
}

.app {
    display: flex;
    min-height: 100vh;

    &__sidebar {
        flex: 0 0 240px;
        background-color: lightblue;
    }

    &__content {
        flex: 1;
        padding: 40px;
    }
}