.menu {
    padding: 0;

    &__item {
        padding: 6px 20px;
        list-style-type: none;
        transition: background-color 200ms;
        cursor: pointer;

        &:hover {
            background-color: darken(lightblue, 20%);
        }

        a {
            color: lighten(red, 20%);
            text-decoration: none;

            &:hover {
                color: lighten(red, 10%);
                text-decoration: underline;
            }

            &:active {
                color: red;
            }
        }

        &--active {
            background-color: darken(lightblue, 30%);

            a {
                color: red;
            }
        }
    }
}